/* Todos */
.transparent{
    background: none;
    background: transparent;
}
.transparent .center{
    color: #000;
}
.navbar .right, .subnavbar .right{
    margin-left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

/* Index*/
.index .background-index {
    
}
.index .content-logo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.index .content-logo img{
    width: 175px;
    height: auto;
}
.index .button.button-big{
    border-radius: 25px;
}
.index .copy-right{
    text-align: center;
}

/* Modo Humano*/
[data-page="modo-humano"] > *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;    
}
.modo-humano .mosquito{
    position: fixed;
    width: 36px;
    height: auto;
    cursor: pointer;
}
.pause-background{
    pointer-events: none;
    background: rgba(0,0,0,0.75);
    height: 100vh; /*Caso o 100% falhe*/
    height: 100%;
    margin-top: 56px;
}

/* Icones */
.pause-continue-game.pause-game i.icon.icon-pause-continue{
    width: 24px;
    height: 24px;
    background-image: url(../img/ic_pause_black_24dp_2x.png);
}

.pause-continue-game.continue-game i.icon.icon-pause-continue{
    width: 24px;
    height: 24px;
    background-image: url(../img/ic_play_arrow_black_24dp_2x.png);
}