/* Todos */
.transparent{
    background: none;
    background: transparent;
}
.transparent .center{
    color: #000;
}

/* Index*/
.index .background-index {
    
}
.index .content-logo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.index .content-logo img{
    width: 175px;
    height: auto;
}
.index .button.button-big{
    border-radius: 25px;
}
.index .copy-right{
    text-align: center;
}

/* Modo Humano*/
.modo-humano .mosquito{
    position: fixed;
    width: 36px;
    height: auto;
    cursor: pointer;
}

/* Icones */
.pause-continue-game.pause-game i.icon.icon-pause-continue{
    width: 24px;
    height: 24px;
    background-image: url(../img/ic_pause_black_24dp_2x.png);
}

.pause-continue-game.continue-game i.icon.icon-pause-continue{
    width: 24px;
    height: 24px;
    background-image: url(../img/ic_play_arrow_black_24dp_2x.png);
}